# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C++

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. MatPlotLib
3. dplyr
4. ggplot

In [ ]:
| Data Science Tools |
| ------------------ |
| Relational Databases |
| Data Integration Tools |
| Data Visualization Tools |
| Development Environments |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
num = (3*4)+5
print(num)

17

# This will convert 200 minutes to hours by diving by 60
min_per_hour = 60
minutes = 200
hours = minutes/min_per_hour
print(hours)

# **Objectives:**
* List data science languages and libraries
* List data science tools
* Exhibit code performing arithmetic calculations
* Demonstrate markdown syntax

## Author
Joe Alcorn